html {
  height: 100%;
  font-size: 14px;
}

body {
  font-family: 'Open Sans', sans-serif; 
  font-weight: 300;
  height: 100%;

  background-image: -webkit-gradient(linear, left bottom, left bottom, color-stop(0, #5A5C57), color-stop(1, #59961B));
  background-image: -o-linear-gradient(left bottom, #5A5C57 0%, #59961B 100%);
  background-image: -moz-linear-gradient(left bottom, #5A5C57 0%, #59961B 100%);
  background-image: -webkit-linear-gradient(left bottom, #5A5C57 0%, #59961B 100%);
  background-image: -ms-linear-gradient(left bottom, #5A5C57 0%, #59961B 100%);
  background-image: linear-gradient(to left bottom, #5A5C57 0%, #59961B 100%);
}

.pure-g-r [class *="pure-u"] {
  font-family: 'Open Sans', sans-serif; 
}

h1,h2,h3,b,strong {
  font-weight: 400;
}

hr.nav-split {
  width: 45%;
  margin-left: 0;
}

.index-page {
  color: white;
  margin: auto 50px;
  height: 100%;
}

.index-page > div {
  height: 100%;
}

footer {
  position: absolute;
  bottom: 25px;
  font-size: 0.83em;
}

.capitalize {
  text-transform: capitalize;
}

.nav-vertical {
  list-style: none;
  padding: 0;
}

.nav-vertical li {
  margin-bottom: 5px;
}

.contacts {
  font-family: sans-serif;
}

.no-un {
  text-decoration: none;
}

.nav-vertical a {
  color: white;
}

