#subscribe {
  color: #fff;
  text-decoration: none;
}

#subscribe:hover {
  color: rgb(61, 146, 201);
}

#subscribe-form {
  display: none;
  background: rgb(61, 79, 93);
  padding: 2em;
  border-radius: 5px;
}

#subscribe-form input {
  color: #444;
  font-weight: bold;
}

#subscribe-submit {
  background: transparent;
  border: 1px solid #ccc;
  font-weight: bold;
  color: #ccc;
}

#subscribe-submit:hover {
  border-color: #fff;
  color: #fff;
}

#subscribe-form .close-modal {
  font-size: 0.83em;
  color: #fff;
}
